body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#deleteAll {
  grid-template-columns: 1/4;
  grid-row: 1;
  width: 170px;

}

@media (min-width: 320px) {
  #deleteAll {
    width: 114px;

  }
}

@media (min-width: 768px) {
  #deleteAll {
    width: 146px;

  }
}

@media (min-width: 1024px) {
  #deleteAll {
    width: 210px;

  }
}

@media (min-width: 2560px) {
  #deleteAll {
    width: 410px;

  }
}